<%- include('partials/_header') -%>

  <section>
    <div class="container text-center py-5 h-100">
      <!-- <h2 class="mb-3">Articles</h2> -->
      <a href="/new" class="btn btn-light">Add New Adventure</a>
      <div class="row">
        <% articles.forEach(article=> { %>
          <div class="col-12 col-md-6 col-xl-4">
            <div class="card mt-4" style="border-radius: 15px;">
              <div class="card-body">
                <h4 class="card-title">
                  <%= article.title %>
                </h4>
                <div class="card-subtitle text-muted mb-2">
                  <%= article.createdAt.toLocaleDateString() %>
                </div>
                <div class="card-text mb-2">
                  <%= article.description %>
                </div>
            
                <a href="/<%= article.slug %>" class="btn btn-primary">Read More</a>
                <a href="edit/<%= article.id %>" class="btn btn-info">Edit</a>
            
                <form action="/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form>
              </div>
            </div>
          </div>
          <% }) %>
      </div>
      
    </div>
  </section>

  <%- include('partials/_footer') -%>



